/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 24px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #000;
    --scroll_width: 17px;
    --text_color: #fff;
    --font_size: 16px;
    --font_size_title: 52px;
    --font_family: 'Inter', 'Arial', sans-serif;
}


::selection
{
    color: #fff;
    background: #950fff;
}

::-moz-selection
{
    color: #fff;
    background: #950fff;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 8px;
    height: 8px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #950fff;
}

html.custom_scroll
{
    scrollbar-color: #950fff var(--bg);
    scrollbar-width: thin;
}


body
{
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    color: var(--text_color);
}

body.lock
{
    /* position: fixed;
    top: 0;
    left: 0; */
    overflow: hidden;

    padding-right: var(--scroll_width);
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    padding-top: 132px;
}

.main.no_pad
{
    padding: 0;
}


.cont
{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.cont.middle
{
    max-width: 1512px;
}


.row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



/*---------------
    Watermark
---------------*/
.watermark
{
    position: absolute;
    z-index: 1;

    display: block;

    width: 341px;
    max-width: 50%;
    height: 182px;
    max-height: 50%;
    margin: auto;

    pointer-events: none;

    opacity: .07;

    inset: 0;
}


.watermark.right_top
{
    top: 40px;
    right: 30px;
    bottom: auto;
    left: auto;

    width: 191px;
    height: 101px;
    margin: 0;
}


.watermark.small
{
    width: 228px;
    height: 121px;
}



/*-------------
    Spinner
-------------*/
.spinner
{
    display: grid;
    display: grid;

    width: 18px;
    height: 18px;

    animation: s3 1s infinite steps(12);

    border-radius: 50%;
    background: linear-gradient(0deg, rgba(255,255,255,.8) 50%,#fff 0) center/2px 100%,
    linear-gradient(90deg,rgba(255,255,255,.4) 50%,#fffbff 0) center/100% 2px;
    background-repeat: no-repeat;

    -webkit-mask: radial-gradient(farthest-side,#0000 40%,#000 41%);
}

.spinner::before,
.spinner::after
{
    content: '';
    transform: rotate(30deg);

    opacity: .915;
    border-radius: 50%;
    background: inherit;

    grid-area: 1/1;
}

.spinner::after
{
    transform: rotate(60deg);

    opacity: .83;
}

@keyframes s3
{
    100%
    {
        transform: rotate(1turn);
    }
}



/*------------------
    Notification
------------------*/
.vue-notification-group
{
    padding: 120px 24px 24px;

    pointer-events: none;
}

.vue-notification-wrapper + .vue-notification-wrapper
{
    margin-top: 8px;
}


.notification
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 14px;

    pointer-events: auto;

    border-radius: 20px;
    background: #141414;
}


.notification .close
{
    position: absolute;
    top: 17px;
    right: 10px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 30px;
    height: 30px;

    color: #555;
}

.notification .close svg
{
    display: block;

    width: 30px;
    height: 30px;
}


.notification .icon
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 30px;
    height: 30px;
    margin-right: 10px;

    border-radius: 50%;
    background: #950fff;
}

.notification .icon.green
{
    background: #1bc562;
}

.notification .icon.red
{
    background: #eb5757;
}

.notification .icon svg
{
    display: block;

    width: 20px;
    height: 20px;
}

.notification .icon + *
{
    width: calc(100% - 40px) !important;
    margin: 0 !important;
}


.notification .chain
{
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
}

.notification .chain::first-letter
{
    text-transform: uppercase;
}

.notification .chain:empty
{
    display: none;
}


.notification .tx_type
{
    font-size: 12px;
    line-height: 130%;

    color: #8e8e8e;
}

.notification .tx_type:empty
{
    display: none;
}


.notification .title
{
    font-size: 15px;
    font-weight: 500;
    line-height: 110%;

    width: 100%;
    margin-top: 10px;
}

.notification .title:empty
{
    display: none;
}


.notification .text
{
    font-size: 12px;
    line-height: 150%;

    width: 100%;
    margin-top: 4px;

    opacity: .4;
}

.notification .text:empty
{
    display: none;
}


.notification .explorer
{
    font-size: 12px;
    line-height: 150%;

    display: flex;

    margin-top: 8px;

    color: #950fff;
}


.notification .explorer a
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    text-decoration: none;

    color: currentColor;
}


.notification .explorer svg
{
    display: block;

    width: 12px;
    height: 12px;
    margin-left: 4px;
}



/*-----------
    Chart
-----------*/
.apexcharts-legend
{
    top: -10px !important;
    left: 0 !important;

    margin: 0 -6px !important;
    padding: 0 !important;

    color: #fff;
}


.apexcharts-legend-text
{
    color: var(--text_color) !important;
}


.apexcharts-tooltip
{
    position: static !important;

    overflow: visible !important;

    border: none !important;
    background: none !important;
}


.piechart .apexcharts-tooltip
{
    position: absolute !important;
    top: 0;
    left: 0;

    overflow: visible !important;

    border: none !important;
    background: none !important;
    box-shadow: none !important;
}


.piechart .apexcharts-tooltip .chart_tooltip
{
    position: relative;

    transform: none;

    color: #fff;
    border-radius: 14px;
}


.chart_tooltip
{
    font-family: var(--font_family);
    font-size: 12px;

    position: absolute;
    z-index: 100;

    width: auto;
    margin: 0;
    padding: 9px;

    transform: translate(-50%, calc(-100% - 8px));
    white-space: nowrap;

    color: var(--text_color);
    border: 1px solid rgba(255, 255, 255, .10);
    border-radius: 10px;
    background: #141414;
}

.chart_tooltip:after
{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    display: block;

    width: 29px;
    height: 7px;
    margin: 0 auto;

    content: '';

    background: url(/tooltip_tail.svg) 0 0 no-repeat;
}


.chart_tooltip .tooltip_date
{
    margin-bottom: 4px;

    color: #555;
}

.chart_tooltip * + .tooltip_date
{
    margin-top: 12px;
    margin-bottom: 0;
}


.chart_tooltip .tooltip_status
{
    margin-bottom: 10px;
}

.chart_tooltip .tooltip_status .green
{
    color: #1bc562;
}

.chart_tooltip .tooltip_status .red
{
    color: #eb5757;
}


.chart_tooltip .tooltip_val
{
    position: relative;

    padding-left: 12px;
}

.chart_tooltip .tooltip_val + .tooltip_val
{
    margin-top: 4px;
}

.chart_tooltip .tooltip_status ~ .tooltip_val + .tooltip_val
{
    margin-top: 8px;
}


.chart_tooltip .tooltip_val:before
{
    position: absolute;
    top: 4px;
    left: 0;

    display: block;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;
    background: currentColor;
}

.chart_tooltip .tooltip_val.pink:before
{
    background: #c983ff;
}

.chart_tooltip .tooltip_val.green:before
{
    background: #1bc562;
}

.chart_tooltip .tooltip_val.violet:before
{
    background: #950fff;
}

.chart_tooltip .tooltip_val.yellow:before
{
    background: #c5811b;
}

.chart_tooltip .tooltip_val.blue:before
{
    background: #0343e8;
}

.chart_tooltip .tooltip_val.red:before
{
    background: #eb5757;
}

.chart_tooltip .tooltip_val.grey:before
{
    background: #353535;
}


.chart_tooltip .tooltip_val span
{
    display: inline-block;

    vertical-align: top;
}

.chart_tooltip .tooltip_status ~ .tooltip_val span
{
    opacity: .5;
}


.chart_tooltip .tooltip_val .type
{
    margin-top: 2px;

    opacity: .5;
}


.chart_tooltip .tooltip_val .label
{
    width: 92px;
}

.chart_tooltip .tooltip_val .label.big
{
    width: 112px;
}

.chart_tooltip .tooltip_val .label + *
{
    text-align: right;
}



/*----------------
    Datepicker
----------------*/
.dp__theme_light
{
    --dp-background-color: #1c1c1c !important;
    --dp-text-color: #fff !important;
    --dp-hover-color: #950fff !important;
    --dp-hover-text-color: #fff !important;
    --dp-hover-icon-color: #fff !important;
    --dp-primary-color: #950fff !important;
    --dp-primary-text-color: #fff !important;
    --dp-secondary-color: #fff !important;
    --dp-border-color: none !important;
    --dp-menu-border-color: none !important;
    --dp-border-color-hover: none !important;
    --dp-scroll-bar-background: none !important;
    --dp-scroll-bar-color: #950fff !important;
}


.dp__main
{
    font-family: var(--font_family);
}


.dp__outer_menu_wrap
{
    width: 100%;
}


.dp__instance_calendar + .dp__instance_calendar
{
    margin-left: 12px !important;
}


.dp__menu_inner
{
    padding: 0 !important;
}


.dp__month_year_row
{
    height: 36px !important;
    margin-bottom: 8px;
    padding: 6px 0 !important;
}


.dp__inner_nav
{
    align-self: center;

    width: 24px !important;
    height: 24px !important;

    color: #fff !important;
    border-radius: 6px !important;
    background: #353535 !important;
}

.dp__inner_nav:hover
{
    background: #950fff !important;
}

.dp__inner_nav svg
{
    width: 16px !important;
    height: 16px !important;
}


.dp--year-select,
.dp__month_year_select
{
    align-items: flex-start !important;

    height: 24px !important;
}


.dp__calendar_header
{
    font-size: 16px !important;
    font-weight: 500 !important;

    border-radius: 8px;
    background: #353535;
}


.dp__calendar_header_item
{
    line-height: 30px;

    width: 39px !important;
    height: 30px !important;
    padding: 0 !important;
}


.dp__cell_inner
{
    width: 39px  !important;
    height: 28px !important;
    padding: 0 !important;

    border: none !important;
    border-radius: 6px !important;
}

.dp__cell_disabled
{
    pointer-events: none;

    opacity: .5;
}

.dp__today
{
    border: none !important;
}


.dp__cell_inner.dp__range_between
{
    border-radius: 0 !important;
}

.dp__cell_auto_range_end,
.dp__date_hover_end:hover,
.dp__range_end
{
    border-end-start-radius: 0 !important;
    border-start-start-radius: 0 !important;
}

.dp__cell_auto_range_start,
.dp__date_hover_start:hover,
.dp__range_start
{
    border-end-end-radius: 0 !important;
    border-start-end-radius: 0 !important;
}

.dp__cell_offset
{
    pointer-events: none;

    opacity: 0;
}

.dp__overlay_cell_pad
{
    padding: 6px 0 !important;
}


.dp__overlay_cell_disabled
{
    background: none !important;
}

.dp__overlay_col[aria-disabled='true']
{
    pointer-events: none;

    opacity: .3;
}


.dp__button
{
    border-radius: 6px;
}


.dp__menu_inner ~ *,
.dp__action_row
{
    display: none !important;
}



@media print, (max-width: 1279px)
{
    .main
    {
        padding-top: 110px;
    }
}



@media print, (max-width: 1023px)
{
    .main
    {
        padding-top: 100px;
    }
}



@media print, (max-width: 767px)
{
    .main
    {
        padding-top: 92px;
    }


    .dp__instance_calendar + .dp__instance_calendar
    {
        margin-top: 20px;
        margin-left: 0 !important;
    }
}



/*-----------
    Modal
-----------*/
.modal
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


.modal .overlay
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .8);
}


.modal_content
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 134px 40px 40px;
}


.modal_content .modal_title
{
    font-size: 30px;
    font-weight: 600;
    line-height: 130%;

    margin-bottom: 12px;
}


.modal_content .data
{
    position: relative;

    width: 473px;
    max-width: 100%;
    margin: auto;
    padding: 20px;

    cursor: default;

    border-radius: 36px;
    background: #141414;
}


.modal_content .data > .close_btn
{
    position: absolute;
    z-index: 3;
    top: 24px;
    right: 20px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 36px;
    height: 36px;

    transition: color .2s linear;
}


.modal_content .data > .close_btn svg
{
    display: block;

    width: 36px;
    height: 36px;
}


.modal_content .data > .close_btn:hover
{
    color: #950fff;
}
